.clear(){
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.size-full(){
  width: 100vw;
  height: auto;
  padding-right: ~"calc(50vw - 555px)";
  padding-left:~"calc(50vw - 555px)";
  box-sizing: border-box;
  
  @media ( max-width:1170px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.bg-cover(@url){
  background: url(@url) no-repeat center/ cover;
}

.bg-cover(@url, @url2) {
  background: url(@url) no-repeat center/ cover,
  url(@url2) no-repeat center/ cover;
}

.bg-cover-color(@url, @color) {
  background: url(@url) no-repeat center/ cover,
    @color ;
}

.bg-contain(@url) {
  background: url(@url) no-repeat center/ contain;
}

.bg-contain(@url, @url2) {
  background: url(@url) no-repeat center/ contain,
  url(@url2) no-repeat center/ contain;
}

.font-xxs() {
  font-family: @font-family;
  font-size  : @fnt-size-xxs;
  font-weight: normal;
  line-height: @line-height;
}

.font-xxs-600() {
  font-family: @font-family;
  font-size  : @fnt-size-xxs;
  font-weight: 600;
  line-height: @line-height;
}

.font-xs() {
  font-family: @font-family;
  font-size  : @fnt-size-xs;
  font-weight: normal;
  line-height: @line-height;
}

.font-xs-600() {
  font-family: @font-family;
  font-size  : @fnt-size-xs;
  font-weight: 600;
  line-height: @line-height;
}

.font-s(){
  font-family: @font-family;
  font-size: @fnt-size-s;
  font-weight: normal;
  line-height: @line-height;
}

.font-s-600() {
  font-family: @font-family;
  font-size  : @fnt-size-s;
  font-weight: 600;
  line-height: @line-height;
}

.font-m() {
  font-family: @font-family;
  font-size  : @fnt-size-m;
  font-weight: normal;
  line-height: @line-height;
}

.font-m-600() {
  font-family: @font-family;
  font-size  : @fnt-size-m;
  font-weight: 600;
  line-height: @line-height;
}

.font-l() {
  font-family: @font-family;
  font-size  : @fnt-size-l;
  font-weight: normal;
  line-height: @line-height;
}

.font-l-600() {
  font-family: @font-family;
  font-size  : @fnt-size-l;
  font-weight: 600;
  line-height: @line-height;
}

.font-xl() {
  font-family: @font-family;
  font-size  : @fnt-size-m;
  font-weight: normal;
  line-height: @line-height;
}

.font-xl-600() {
  font-family: @font-family;
  font-size  : @fnt-size-xl;
  font-weight: 600;
  line-height: @line-height;
}

.text-shadow(@color: black){
  text-shadow: 0.1em 0.1em 4vpx @color ;
}


.padding-h(@p-top: 93px, @p-bottom: 145px){
  padding-bottom: @p-bottom;
  padding-top: @p-top;
  @media(max-width:@size-mobile) {
    padding-bottom: @p-bottom / 3;
padding-top: @p-top / 3;
  }
  
}