
@font-face {
  font-family: HelveticaNavCyr;
  src: url(fonts/HelveticaNeue-CondensedRegular.woff)
}


// colors
@darkest:#171932;
@violet: #9B51E0;



// viewports

@viewport-max : 1410px;


@size-mobile: 560px;
@size-tablete: 1024px;

//paddings 

@padding-h: 93px;

// font
@font-family: 'HelveticaNavCyr', sans-serif;
@font-h1: 'Corinthia',
arial;
@font-h2:'Stylo Bold',
arial;
@fnt-size-xxs: 12px;
@fnt-size-xs: 14px;
@fnt-size-s: 16px;
@fnt-size-m: 28px;
@fnt-size-l: 22px;
@fnt-size-xl: 38px;
@line-height: 1.4em;
