@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pos_abs(){
  width : 100%;
height : 100%;
position : absolute;
top : 0;
}

.cat {
  width        : 500px;
  height       : 500px;
  position     : relative;
  border-radius: 50%;
  overflow     : hidden;
}

.cat_face {
 
  background: url(./img/cosmocat.png) no-repeat center/contain;
  
  
  z-index   : 40;
  .pos_abs
}

.gosmos {
  
  
  background       : url(./img/gosmos.jpg) no-repeat center/cover;
  animation        : 10s linear 0s normal none infinite running rot;
  -webkit-animation: 10s linear 0s normal none infinite running rot;
  .pos_abs
}

.cats_nose {
  background       : url(./img/nose.png) no-repeat center/contain;
  width            : 70px;
  height           : 60px;
  cursor           : pointer;
  position         : absolute;
  top              : 41%;
  transform        : rotate(-9deg);
  left             : 44%;
 
}

.b-n .cat_face,
.b-n .gosmos {
  background: none;
  
}

.test {
  width: calc( 100px+50vw);
}