@import "parts/params";
@import (reference) "parts/bootstrap";
@import "parts/mixins";

a {
  color: black;
}

body {
  font-family: @font-family;
  color: black;
}

.adress__icon {
  .masked-icon("img/point.svg");
}

.phone__icon {
  .masked-icon("img/phone.svg");
}

.btn {
  background: #ffd351;
  max-height: 40px;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;

  @media (max-width: @size-mobile) {
    font-size: 10px;
  }
}

button {
  &:extend(.btn);
  background: rgba(0, 0, 0, 0);

  padding: 0.1em;
  max-height: 3em;
}

.logo {
  align-self: stretch;
  .bg-contain("img/logo.png");
}

.owl-nav-big() {
  @media (min-width: 1160px) {
    .owl-next {
      right: ~"calc((100vw - 1140px)/2 - 20px)";
    }

    .owl-prev {
      left: ~"calc((100vw - 1140px)/2 - 20px)";
    }
  }
}

.title-h2() {
  .font-l-600;
  font-family: @font-h2;
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
  color: @yellow;
  text-shadow: 1px 1px 3px gray;
}

header,
section,
footer {
  z-index: 3;
}

/* nav */
.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  .bg-contain-color("img/nav.jpg", #fff);
  background-position: 50% 110%;
  background-repeat: repeat-x;

  @media (max-width: 1000px) {
    background-position: 50% 100%;
  }

  @media (max-width: @size-tablete) {
    background-position: 50% 150%;
  }

  &__top {
    &:extend(.container);
    .nav-grid-logo-cntr(2fr, 1fr);
    align-items: center;
    height: 78px;
    padding-bottom: 10px;
    padding-top: 10px;

    @media (max-width: @size-tablete) {
      font-size: 10px;
    }

    @media (max-width: @size-mobile) {
      .nav-grid-logo-cntr(1fr, 1fr, 1);
    }

    .phone {
      justify-self: end;
      padding-right: 10px;
    }
  }

  &__toggle {
    left: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1.4rem;
    height: 1.2rem;
    align-self: center;
    margin-left: 15%;
    cursor: pointer;
  }

  &__toggle__line {
    height: 50%;
    border-bottom: 2px solid black;
  }

  &__bottom {
    &:extend(.row all, .container all);
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;

    & a {
      color: white;
    }

    @media (max-width: @size-tablete) {
      & a {
        color: black;
      }
    }

    @media (max-width: @size-mobile) {
      & a {
        color: black;
      }

      flex-direction: column;
      position: absolute;
      top: 0;

      left: 0;
      right: 0;
      z-index: 20;
      background: white;
      height: 100vh;
      align-content: center;
      align-items: center;
    }
  }

  &__cross {
    text-transform: uppercase;
    .text-shadow;
    position: absolute;
    top: 30px;
    left: 30px;
    .font-l-600;
    cursor: pointer;
  }
}

/* nav  ends*/

/* header */

.header {
  .size-full(40vw);
  .bg-cover-color(
    "img/header.jpg",
    linear-gradient(
      to right,
      rgba(9, 5, 47, 0.5) 0%,
      rgba(49, 29, 94, 0.5) 100%
    )
  );
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;

  @media (max-width: @size-tablete) {
    height: auto;
  }

  &__card {
    width: 75%;
    height: 30vw;
    margin: auto;
    margin-top: 5vw;

    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(0px 0px 3px rgb(238, 228, 170));

    @media (max-width: @size-tablete) {
      width: 90%;
      height: auto;
      margin-top: 1vw;
      margin-bottom: 1vw;
      background: rgba(0, 0, 0, 0.5);
    }

    text-align: center;

    &__title {
      font-family: @font-h1;
      font-size: 16vw;
      font-weight: normal;
      text-transform: capitalize;
      @media (min-width: @viewport-max) {
        font-size: 200px;
      }
    }

    &__text {
      font-size: 1.92vw;

      @media (max-width: @size-tablete) {
        font-size: @fnt-size-l;
      }
    }

    &__small {
      font-size: 1vw;
      @media (max-width: @size-tablete) {
        margin-top: -4vw;
      }

      @media (max-width: @size-tablete) {
        font-size: @fnt-size-s;
        margin-top: 0;
      }
    }
  }
}

/* header ends */

/* numbers */
.numbers {
  &:extend(.flex-column);
  position: relative;

  .padding-h();

  .bg-cover-color(
    "img/numbers.jpg",
    linear-gradient(to top, rgba(251, 250, 252, 0) 10%, rgb(255, 255, 255) 100%)
  );

  &__title {
    .title-h2();
  }

  &__nav {
    &:extend(.container);

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 290px;
      font-size: 2em;

      z-index: 10;

      &:visited,
      &:focus,
      &:active,
      &:hover {
        outline: 0 none !important;
      }
    }

    @media (max-width: @size-mobile) {
      .owl-next,
      .owl-prev {
        top: 25%;
      }
    }

    .owl-next {
      right: 3%;
    }

    .owl-prev {
      left: 3%;
    }

    .owl-nav-big();
  }

  &__slider {
    width: 90%;
    height: auto;
    margin: auto;
    &:extend(.row);
    overflow: hidden;
    &:extend(.container all);
    margin: auto;
  }

  &__slide {
    min-width: 25%;
    max-width: 540px;
    height: 385px;
    .vertical-grid;
    grid-template-columns: 1fr 1fr;

    &__img {
      grid-row: ~"1/6";
      grid-column: ~"1/3";
      align-self: stretch;
      justify-self: stretch;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__title {
      .title-h2();
      font-size: @fnt-size-xs;
      color: white;
      padding: 0.4em;
      margin-top: 10px;

      grid-row: ~"1/2";
      grid-column: ~"1/3";
      z-index: 5;
      background-color: @violet;
      border-radius: 30px;
    }

    &__price {
      background-color: @violet;
      color: white;
      align-self: stretch;
      justify-self: stretch;
      text-align: center;
      padding-top: 0.5rem;
    }

    &__btn {
      align-self: stretch;
      justify-self: stretch;
      text-align: center;
      padding-top: 0.5rem;
      background-color: white;
    }
  }

  &__cards {
    &:extend(.row all);
    justify-content: center;

    &:extend(.container);
    margin: auto;
  }

  &__card {
    &:extend(.col-md-4 all);
    margin-bottom: 10px;
  }

  .card {
    .vertical-grid;
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #f9e206;
    box-sizing: border-box;
    border-radius: 30px;
    max-width: ~"calc(30% - 23px)";
    margin-right: 23px;
    margin-left: 23px;

    @media (max-width: @size-tablete) {
      max-width: 240px;
    }

    &__img {
      background-color: @violet;
      border-radius: 50%;
      width: 84px;
      height: 84px;
      background-position: center;
      background-repeat: no-repeat;
      margin: 40px;
      box-shadow: 0px 0px 0px 20px rgba(132, 0, 255, 0.15);
    }

    &__title {
      .font-m-600;
      font-family: @font-h2;
      text-transform: uppercase;
    }

    &__text {
      text-align: center;
    }
  }

  .owl-item {
    height: auto;
  }

  @media (min-width: 1200px) {
    .owl-item:not(.active) + .active,
    .active + .active + .active + .active {
      filter: opacity(0.5);
    }
  }
}

/*end numbers */

/* album */
.album {
  &:extend(.container);
  .padding-h();
  position: relative;
  z-index: 4;

  &__title {
    .title-h2;
    z-index: 5;
  }

  &__grid {
    .grid(40% auto auto, 1fr, 20px, 20px);
    max-width: 100%;

    @media (max-width: @size-tablete) {
      .vertical-grid;
    }

    &__img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      z-index: 5;
    }

    &__text {
      box-shadow: 2px 2px 6px 3px grey;
      padding: 1rem;
      z-index: 5;
    }
  }
}

/* album  ends*/

/* promotion */
.promotion {
  .padding-h();
  position: relative;
  .bg-cover-color(
    "img/numbers.jpg",
    linear-gradient(
      270deg,
      rgba(103, 0, 198, 0.65) 0%,
      rgba(132, 0, 255, 0.15) 100%
    )
  );
  color: white;

  &__slide {
    &:extend(.container);

    &__title {
      font-size: 64px;
      font-size: 64px;
    }

    &__text {
      font-size: 30px;
    }

    @media (max-width: @size-tablete) {
      &__title,
      &__text {
        text-align: center;
      }

      &__title {
        font-size: 34px;
      }

      .btn {
        margin-left: ~"calc(50% - 4em)";
      }
    }
  }

  &__nav {
    &:extend(.container);

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 40%;
      font-size: 2em;
      color: white;

      z-index: 10;

      &:visited,
      &:focus,
      &:active,
      &:hover {
        outline: 0 none !important;
      }
    }

    .owl-next {
      right: 3%;
    }

    .owl-prev {
      left: 3%;
    }

    .owl-nav-big();
  }
}

/* promotion  ends*/

/* review */

.review {
  .padding-h();
  background-color: @darkest;
  position: relative;
  z-index: 1;
  &:extend(.d-flex, .flex-column);
  align-items: center;
  justify-items: center;

  &__dropdown {
    position: absolute;

    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    z-index: 2;
    box-shadow: 0px 0px 0px 2000px rgba(240, 237, 241, 0.9);

    @media (max-width: @size-tablete) {
      width: 100%;
      left: 0%;
    }
  }

  &__btn {
    z-index: 4;
    margin-top: 80px;
    background-color: @violet;
    color: white;
  }

  &__title {
    .title-h2();
    z-index: 4;
  }

  &__nav {
    &:extend(.container);

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 50%;
      font-size: 2em;
      color: white;

      z-index: 10;

      &:visited,
      &:focus,
      &:active,
      &:hover {
        outline: 0 none !important;
      }
    }

    .owl-next {
      right: 3%;
    }

    .owl-prev {
      left: 3%;
    }

    @media (min-width: 1160px) {
      .owl-prev {
        left: calc((100vw - 1140px) / 2 - 70px);
      }

      .owl-next {
        right: calc((100vw - 1140px) / 2 - 70px);
      }
    }

    @media (min-width: @size-tablete) {
      .owl-next,
      .owl-prev {
        color: black;
      }
    }
  }

  &__slider {
    &:extend(.container);
    .card {
      .vertical-grid;
      background: white;

      box-sizing: border-box;
      border-radius: 5px;
      // max-width    : ~"calc(100% - 70px)";
      // margin-right : 70px;
      // margin-left  : 70px;
      position: relative;
      padding-top: 65px;
      margin-top: 65px;

      @media (max-width: @size-tablete) {
        max-width: 240px;
      }

      &__img {
        position: absolute;
        top: -84px;
        background-color: white;
        border: 1px solid grey;
        border-radius: 50%;
        width: 84px;
        height: 84px;
        z-index: 4;
        background-position: center;
        background-repeat: no-repeat;
        margin: 40px;
        box-shadow: 0px 0px 0px 20px rgba(240, 237, 241, 1),
          0px 0px 0px 21px rgb(63, 62, 63);
      }

      &__title {
        .font-m-600;
      }

      &__text {
        text-align: center;
      }
    }
  }
}

/* review  ends*/

/* footer */
.footer {
  background-color: @darkest;
  position: relative;
  .padding-h(20px, 20px);

  & a {
    color: white;
    text-align: center;
  }

  &__container {
    &:extend(.container);
    .flex-row;
    justify-content: space-between;

    @media (max-width: @size-mobile) {
      display: block;
    }
  }

  &__img-block {
    .grid(auto, 58px auto);
    img {
      justify-self: center;
    }
  }

  &__links {
    .grid(max-content max-content, repeat(5, 1fr), 3em, 1em);
    @media (max-width: @size-mobile) {
      .vertical-grid;
    }
  }

  &__contacts {
    .grid(max-content max-content, repeat(4, 1fr), 30px, 1em);

    .btn {
      grid-column: ~"2/3";
      @media (max-width: @size-mobile) {
        grid-column: ~"1/2";
        justify-self: center;
        text-align: center;
      }
    }

    .social-icons {
      grid-column: ~"2/3";
      @media (max-width: @size-mobile) {
        grid-column: ~"1/2";
        justify-self: center;
      }
    }

    @media (max-width: @size-mobile) {
      .grid(auto, auto, 30px, 30px);
      margin-top: 30px;
    }
  }
}

.social-icons {
  .flex-row;

  .inst {
    .bg-contain-color("img/inst.svg", #dd4b39);
    width: 2em;
    height: 2em;
    border-radius: 10%;
    margin-right: 0.5em;
  }

  .vk {
    .bg-contain-color("img/vk.svg", #44678d);
    background-size: 80%;
    width: 2em;
    height: 2em;
    border-radius: 10%;
    margin-right: 0.5em;
  }

  .twi {
    .bg-contain-color("img/twi.svg", #50abf1);
    background-size: 80%;
    width: 2em;
    height: 2em;
    border-radius: 10%;
    margin-right: 0.5em;
  }
}

/* footer  ends*/

.m-show {
  @media (min-width: @size-mobile + 1) {
    display: none;
  }
}

.m-hide {
  @media (max-width: @size-mobile) {
    display: none;
  }
}

.t-hide {
  @media (max-width: @size-tablete) {
    display: none;
  }
}
